.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
}

footer {
  width: 100vw;
  height: 8vh;
  background-color: black;
  align-self: flex-end;
}

.App > p {
  color: white;
}

button {
  cursor: pointer;
}
