.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.emergency-instructions {
  width: 100%;
  height: 5vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EE6055;
  font-size: calc(35% + .30vw + .30vh);
}

.emergency-instructions > h4 {
  margin: 0vh 1vw;
}

.emergency-instructions > p {
  margin: 0;
}

footer {
  width: 100vw;
  height: 8vh;
  background-color: black;
  align-self: flex-end;
}

button {
  cursor: pointer;
}
