.suggestion-page {
  width: 100vw;
  height: 79vh;
  background-color: #FFE7AD;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.suggestion-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 55vh;
  align-items: center;
  justify-content: center;
  background-color: #60D394;
  border-radius: 20px;
}

.suggestion-title {
  width: 60%;
  margin: 5% 0% 0% 0%;
}

.suggestion-description {
  height: 50%;
  width: 60%;
  margin: 1rem;
  text-align: left;
  resize: none;
}

.suggestion-form >h2 {
  font-size: 3rem;
}

.suggestion-img {
  width: 40vw;
  height: 55vh;
  border-radius: 20px;

}
